<!-- <app-form-elements [components]="components"></app-form-elements>
<hr> -->
<app-form-element-input
  [data]="control1"
  [type]="'number'"
  [title]="'test1'"
  [min]="0"
  [max]="55"
  (changedValue)="control1 = $event"
></app-form-element-input>
<app-form-element-input
  [data]="control2"
  [type]="'text'"
  [title]="'test2'"
  [isRequired]="true"
  [maxLength]="26"
  (changedValue)="control2 = $event"
></app-form-element-input>
<app-form-element-input
  [data]="control3"
  [type]="'number'"
  [title]="'test1'"
  [isRequired]="false"
  (changedValue)="control3 = $event"
></app-form-element-input>

<hr />

<app-form-element-radio [items]="control4" [title]="c4Title" (changedValue)="c4 = $event"></app-form-element-radio>

<hr />

<app-form-element-dropdown
  [items]="control5"
  [title]="c5Title"
  (changedValue)="c5 = $event"
></app-form-element-dropdown>

<hr />

<app-form-element-checkbox
  [isChecked]="control6"
  [title]="'some title'"
  (changedValue)="control6 = $event"
></app-form-element-checkbox>

<hr />

<app-form-element-table [tableRows]="tableRows"></app-form-element-table>
<div class="row" *ngFor="let row of tableRows">
  <div class="mx-3">{{ row.d }}</div>
  |
  <div class="mx-3">{{ row.gama }}</div>
  |
  <div class="mx-3">{{ row.mv }}</div>
</div>
