<h3>{{ form.value.opis | translate }}</h3>
<!--Proracun dozvoljenog opterecenja tla -->
<form [formGroup]="form">
  <!-- section 1 -->
  <div class="border p-3">
    <div class="form-group row">
      <label for="objekat" class="col-sm-2 col-form-label col-form-label-sm">{{ 'objekat' | translate }}</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="objekat"
          placeholder="{{ 'objekat' | translate }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="napomena" class="col-sm-2 col-form-label col-form-label-sm">{{ 'napomena' | translate }}</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="napomena"
          placeholder="{{ 'napomena' | translate }}"
        />
      </div>
    </div>
  </div>

  <!-- section 2 -->
  <div class="row border p-3 my-3 no-side-margin">
    <div class="col-12 col-lg-4" [ngClass]="{ 'my-2': (isMobileScreen$ | async) }">
      <label class="">{{ 'Foundation shape' | translate }}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="tem_int" id="tem_int1" value="1" checked />
        <label class="form-check-label" for="">
          {{ 'rectangle' | translate }}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="tem_int" id="tem_int2" value="2" />
        <label class="form-check-label" for="">
          {{ 'square' | translate }}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="tem_int" id="tem_int3" value="3" />
        <label class="form-check-label" for="">
          {{ 'line' | translate }}
        </label>
      </div>
    </div>

    <div class="col-12 col-lg-4" [ngClass]="{ 'my-2': (isMobileScreen$ | async) }">
      <div class="form-group row">
        <label for="df" class="col-sm-2 col-form-label col-form-label-sm">{{ 'df' | translate }}</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="df"
            onfocus="this.select();"
            [ngClass]="{ 'border-danger': !(form.controls.df.valid || form.controls.df.untouched) }"
          />
          <small
            *ngIf="form.controls.df.errors?.required && (form.controls.df.dirty || form.controls.df.touched)"
            class="text-danger"
            translate
          >
            {{ 'required-field' | translate }}
          </small>
          <small [hidden]="!form.controls.df.errors?.min || form.controls.df.untouched" class="text-danger" translate>
            {{ 'min' | translate }}
          </small>
          <small [hidden]="!form.controls.df.errors?.max || form.controls.df.untouched" class="text-danger" translate>
            {{ 'max' | translate }}
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="dimb" class="col-sm-2 col-form-label col-form-label-sm">{{ 'dimb' | translate }}</label>
        <div class="col-sm-10">
          <input
            type="number"
            min=""
            max=""
            class="form-control form-control-sm"
            formControlName="dimb"
            onfocus="this.select();"
            [ngClass]="{ 'border-danger': !(form.controls.dimb.valid || form.controls.dimb.untouched) }"
          />
          <small [hidden]="form.controls.dimb.valid || form.controls.dimb.untouched" class="text-danger" translate>
            {{ 'required-field' | translate }}
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="diml" class="col-sm-2 col-form-label col-form-label-sm">{{ 'diml' | translate }}</label>
        <div class="col-sm-10">
          <input
            type="number"
            min=""
            max=""
            class="form-control form-control-sm"
            formControlName="diml"
            onfocus="this.select();"
            [ngClass]="{ 'border-danger': !(form.controls.diml.valid || form.controls.diml.untouched) }"
          />
          <small [hidden]="form.controls.diml.valid || form.controls.diml.untouched" class="text-danger" translate>
            {{ 'required-field' | translate }}
          </small>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4" [ngClass]="{ 'my-2': (isMobileScreen$ | async) }">
      <button class="btn btn-primary" (click)="openSketch()">{{ 'foundation-sketch' | translate }}</button>
    </div>
  </div>

  <!-- section 3 -->
  <div class="row border p-3 my-3 no-side-margin">
    <div class="col-12 col-lg-4">
      <label class="">{{ 'Foundation under an oblique load' | translate }}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="ko" value="D" />
        <label class="form-check-label" for="oblique1">
          {{ 'yes' | translate }}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="ko" value="N" />
        <label class="form-check-label" for="oblique2">
          {{ 'no' | translate }}
        </label>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="form-group row">
        <label for="horizontalF" class="col-sm-3 col-form-label col-form-label-sm">{{
          'horizontal-force' | translate
        }}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" formControlName="h" />
        </div>
      </div>
      <div class="form-group row">
        <label for="verticalF" class="col-sm-3 col-form-label col-form-label-sm">{{
          'vertical-force' | translate
        }}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" formControlName="v" />
        </div>
      </div>
    </div>
  </div>

  <!-- section 4 -->
  <div class="row border p-3 my-3 no-side-margin">
    <div class="col-12 col-lg-4">
      <label class="">{{ 'Calculation according to a two-layer system' | translate }}</label>
      <!-- <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="ds" formControlName="ds">
        <label class="custom-control-label" for="ds"></label>
      </div> -->
      <!-- <div class="form-group">
        Disaggregation
        <label class="switch">
          <input type="checkbox" formControlName="DISAGGREGATION" (change)="checkFields($event)" />
          <span class="slider round"></span>
        </label>
      </div> -->
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="ds" value="D" />
        <label class="form-check-label" for="twoLayer1">
          {{ 'yes' | translate }}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="ds" value="N" />
        <label class="form-check-label" for="twoLayer2">
          {{ 'no' | translate }}
        </label>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="form-group row">
        <label for="tm" class="col-sm-3 col-form-label col-form-label-sm">{{ 'layer-height' | translate }}</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" formControlName="tm" />
        </div>
      </div>
    </div>
  </div>

  <!-- section 5 -->
  <div class="row border p-3 my-3 no-side-margin">
    <label for="" class="col-8">{{ 'Podaci o tlu' | translate }}</label>
    <label for="" class="col-4"></label>
    <div class="col-12 col-lg-4 form-inline" [ngClass]="{ 'mb-3': (isMobileScreen$ | async) }">
      <div class="col-12 py-2 border">
        <label for="" class="col-12 text-left pl-0 mb-2">{{ 'Sloj 1' | translate }}</label>
        <div class="form-group row">
          <label for="fi1" class="col-sm-2 col-form-label col-form-label-sm">&phi;</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" formControlName="fi1" />
          </div>
        </div>
        <div class="form-group row">
          <label for="c1" class="col-sm-2 col-form-label col-form-label-sm">{{ 'c' | translate }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" formControlName="c1" />
          </div>
        </div>
        <div class="form-group row">
          <label for="gama1" class="col-sm-2 col-form-label col-form-label-sm">&gamma;</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" formControlName="gama1" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 form-inline" [ngClass]="{ 'mb-3': (isMobileScreen$ | async) }">
      <div class="col-12 py-2 border">
        <label for="" class="col-12 text-left pl-0 mb-2">{{ 'Sloj 2' | translate }}</label>
        <div class="form-group row">
          <label for="fi2" class="col-sm-2 col-form-label col-form-label-sm">&phi;</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" formControlName="fi2" />
          </div>
        </div>
        <div class="form-group row">
          <label for="c2" class="col-sm-2 col-form-label col-form-label-sm">{{ 'c' | translate }}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" formControlName="c2" />
          </div>
        </div>
        <div class="form-group row">
          <label for="gama2" class="col-sm-2 col-form-label col-form-label-sm">&gamma;</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" formControlName="gama2" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 form-inline">
      <label for="" class="col-12 text-left pl-0 mb-2"></label>
      <div class="form-group row">
        <label for="fi" class="col-sm-2 col-form-label col-form-label-sm">&phi;</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" formControlName="ffi1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="c" class="col-sm-2 col-form-label col-form-label-sm">{{ 'c' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" formControlName="fc1" />
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="calculate()">{{ 'calculate' | translate }}</button
  ><!-- [disabled]="form.invalid"-->
  <button type="submit" class="btn btn-primary" (click)="save()">{{ 'save' | translate }}</button>
  <button type="submit" class="btn btn-primary" (click)="importFromFile()">{{ 'import' | translate }}</button>
</form>
