/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.no-side-margin {
  margin-left: 0;
  margin-right: 0;
}

textarea,
select,
input,
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@import "./checkbox.scss";
