/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.pointer,
a,
i {
  &:hover {
    cursor: pointer;
  }
}

.no-side-margin {
  margin-left: 0;
  margin-right: 0;
}

textarea,
select,
input,
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
}

@import "./checkbox.scss";
