<div class="container">
  <div class="d-flex flex-row mb-2 negative-left-margin">
    <div>
      <button class="btn btn-sm btn-outline-secondary fixed-height" (click)="addTableRow()">
        <i class="fa fa-plus"></i> <span *ngIf="!(isMobileScreen$ | async)"> {{ 'Add row' | translate }}</span>
      </button>
    </div>
    <div>
      <div class="alert alert-danger ml-3" role="alert" *ngIf="notStringErr">{{ notStringErr | translate }}!</div>
    </div>
  </div>
  <div class="row table-header">
    <div class="col-1 m-0">{{ '#' | translate }}</div>
    <div class="col-3 border-inside m-0">{{ 'Debljina' | translate }} (m)</div>
    <div class="col-3 border-inside m-0">{{ 'Gama' | translate }} (kN/m2)</div>
    <div class="col-3 border-inside m-0">{{ 'Mv' | translate }} (kN/m2)</div>
    <div class="col border-inside m-0 px-0">{{ 'Remove' | translate }}</div>
  </div>
  <!-- </div> -->
  <div class="row table-body" *ngFor="let row of tableRows; let i = index">
    <div class="col-1">{{ i + 1 }}</div>
    <div
      class="col-3 border-inside"
      contenteditable="true"
      [textContent]="row.d"
      (click)="selectContent()"
      (keyup)="onChangeContent(row, 'd', $event)"
    >
      {{ row.d }}
    </div>
    <div
      class="col-3 border-inside"
      contenteditable="true"
      [textContent]="row.gama"
      (click)="selectContent()"
      (keyup)="onChangeContent(row, 'gama', $event)"
    >
      {{ row.gama }}
    </div>
    <div
      class="col-3 border-inside"
      id="mv{{ i }}"
      contenteditable="true"
      [textContent]="row.mv"
      (click)="selectContent()"
      (keyup)="onChangeContent(row, 'mv', $event)"
    >
      {{ row.mv }}
    </div>
    <div
      class="border-inside"
      [ngClass]="{ 'col-2': !(isMobileScreen$ | async), col: (isMobileScreen$ | async) }"
      (click)="invokeDelete(i)"
    >
      <button class="btn btn-sm btn-link-danger px-0">
        <i class="fa fa-times text-danger"></i>
        <!-- <span *ngIf="!(isMobileScreen$ | async)">{{ 'Remove' | translate }}</span> -->
      </button>
    </div>
  </div>
</div>
