<div class="mb-3 w-50">
  <app-form-element-dropdown
    [items]="data"
    [title]="'Odaberi snimljene podatke'"
    (changedValue)="onSelectSavedData($event)"
  ></app-form-element-dropdown>
</div>

<hr />

<app-form-element-input
  [data]="konsleg.prilog"
  [type]="'text'"
  [title]="'prilog'"
  [isRequired]="true"
  [maxLength]="10"
  (changedValue)="konsleg.prilog = $event"
></app-form-element-input>

<app-form-element-input
  [data]="konsleg.objekat"
  [type]="'text'"
  [title]="'Objekat'"
  [isRequired]="true"
  [maxLength]="100"
  (changedValue)="konsleg.objekat = $event"
></app-form-element-input>

<app-form-element-input
  [data]="konsleg.napomena"
  [type]="'text'"
  [title]="'Napomena'"
  [isRequired]="true"
  [maxLength]="100"
  (changedValue)="konsleg.napomena = $event"
></app-form-element-input>

<hr />

<div class="row">
  <div class="col-12 col-lg-7">
    <div class="row">
      <div class="col-6">
        <app-form-element-radio
          [items]="oblik_temelja"
          [title]="'oblik-temelja'"
          (changedValue)="onChangeOblikTemelja($event)"
        ></app-form-element-radio>
      </div>
      <div class="col-6">
        <app-form-element-input
          [data]="konsleg.df"
          [type]="'number'"
          [title]="'Df '"
          [unit]="'m'"
          [isRequired]="true"
          (changedValue)="konsleg.df = $event"
        ></app-form-element-input>
        <app-form-element-input
          [data]="konsleg.dimb"
          [type]="'number'"
          [title]="'B '"
          [unit]="'m'"
          [isRequired]="true"
          (changedValue)="konsleg.dimb = $event"
        ></app-form-element-input>
        <app-form-element-input
          [data]="konsleg.diml"
          [type]="'number'"
          [title]="'L '"
          [unit]="'m'"
          [isRequired]="true"
          (changedValue)="konsleg.diml = $event"
        ></app-form-element-input>
      </div>
    </div>

    <hr />

    <div class="col-12 negative-left-margin">
      <app-form-element-input
        [data]="konsleg.sproj"
        [type]="'number'"
        [title]="'opterecenje'"
        [title2]="' &#963; = '"
        [unit]="'kPa'"
        [isRequired]="true"
        (changedValue)="konsleg.sproj = $event"
      ></app-form-element-input>
    </div>

    <hr />

    <div class="row">
      <div class="col-6">
        <app-form-element-radio
          [items]="rasterecenje"
          [title]="'rasterecenje-title'"
          [name]="'rasterecenje'"
          (changedValue)="onChangeRasterecenje($event)"
        ></app-form-element-radio>
      </div>
      <div class="col-6">
        <label>{{ 'tacke' | translate }}</label>
        <!-- <div *ngFor="let t of tacke; let i = index">
                    <app-form-element-checkbox [isChecked]="t.selected" [title]="t.name" [name]="'tacke' + i" (changedValue)="onChangeTacke($event, i)"></app-form-element-checkbox>
                </div> -->
        <app-form-element-checkbox
          [isChecked]="polje1.value"
          [title]="polje1.name"
          [name]="'polje1'"
          (changedValue)="polje1 = onChangeTacke('polje1', polje1.name, $event); konsleg.polje1 = $event"
        ></app-form-element-checkbox>
        <app-form-element-checkbox
          [isChecked]="polje2.value"
          [title]="polje2.name"
          [name]="'polje2'"
          (changedValue)="polje2 = onChangeTacke('polje2', polje2.name, $event)"
        ></app-form-element-checkbox>
        <app-form-element-checkbox
          [isChecked]="polje3.value"
          [title]="polje3.name"
          [name]="'polje3'"
          (changedValue)="polje3 = onChangeTacke('polje3', polje3.name, $event)"
        ></app-form-element-checkbox>
        <app-form-element-checkbox
          [isChecked]="polje4.value"
          [title]="polje4.name"
          [name]="'polje4'"
          (changedValue)="polje4 = onChangeTacke('polje4', polje4.name, $event)"
        ></app-form-element-checkbox>
        <app-form-element-checkbox
          [isChecked]="polje5.value"
          [title]="polje5.name"
          [name]="'polje5'"
          (changedValue)="polje5 = onChangeTacke('polje5', polje5.name, $event)"
        ></app-form-element-checkbox>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <app-form-element-table
      [tableRows]="konsleg.bs"
      (changedValue)="onChangeTableRows($event)"
    ></app-form-element-table>
  </div>
</div>

<hr />

<div class="my-5">
  <button type="submit" class="btn btn-primary" (click)="calculate()">{{ 'calculate' | translate }}</button
  ><!-- [disabled]="form.invalid"-->
  <button type="submit" class="btn btn-primary" (click)="save()">{{ 'save' | translate }}</button>
</div>

<hr />

<!-- {{polje1.name}} | {{polje1.value}} | {{polje1.selected}}<br>
{{polje2.name}} | {{polje2.value}} | {{polje2.selected}}<br>
{{polje3.name}} | {{polje3.value}} | {{polje3.selected}}<br>
{{polje4.name}} | {{polje4.value}} | {{polje4.selected}}<br>
{{polje5.name}} | {{polje5.value}} | {{polje5.selected}}<br> -->

<div *ngFor="let prop of konsleg | keyvalue">konsleg.{{ prop.key }} - {{ prop.value | json }}</div>
