<div class="row">
  <div
    class="col-12 col-lg-6"
    [ngClass]="{ 'text-center': (isMobileScreen$ | async), 'text-left': !(isMobileScreen$ | async) }"
  >
    <h1>Programi za Geotehničko Inženjerstvo</h1>
  </div>
  <div class="col-12 col-lg-6">
    <div class="d-flex flex-wrap justify-content-center">
      <div
        class="card border m-2 pointer"
        style="width: 10rem"
        *ngFor="let m of modules"
        (click)="showModuleApps(m.id)"
      >
        <!-- <img src="assets/{{m.id}}.png" class="card-img-top" alt="..."> -->
        <p class="card-title pl-2 pt-2">{{ m.name | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-fill flex-wrap justify-content-start" *ngIf="selectedItems">
  <div class="card m-2 pointer" *ngFor="let s of selectedItems" (click)="goTo(s.name)" style="width: 18rem">
    <img src="{{ s.image }}" class="card-img-top img" alt="..." />
    <div class="card-body text-center">
      <h5 class="card-title">{{ s.name }}</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, iure..</p>
      <!-- <a class="btn btn-primary">Open app</a> -->
    </div>
  </div>
</div>
